#esquerda {
    width: 100%;
    max-width: 300px;
    height: 100%;
    position: fixed;
}

#direita {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    height: 100%;
    margin-left: 300px;
}

@media screen and (max-width: 768px) {
    #direita {
        width: 100%;
        max-width: 1024px;
        margin: auto;
        height: 100%;
        margin-left: 0px;
    }
}