    .sidebar-show {
        background: #999 !important;
        transition: all 0.5s;
        position: fixed;
        height: 60px;
        top: 0;
    }
    
    .sidebar-hiden {
        background: transparent;
        position: fixed;
        width: 100%;
        transition: all 0.5s;
        height: 60px;
        top: 0;
        margin-left: -10px;
    }