<div>
    <h1>
        FLUXO DE TRABALHO
    </h1>
</div>
<div>

    30 horas de sono por semana. <br> Não dormir enquanto o código não está pronto. <br> Vivencia com integração com bakc end <br> Asp.Net core mvc Visual Studio 2019 <br> Git - github for descktop
</div>
<br>
<div>
    html 5 <br> css 3 <br> bootstrap <br> JavaScript <br> jQuery <br> Ajax <br> asp.Net mvc5 <br> wordpress


</div>
<br>
<div>
    conhecimentos basicos <br> c# <br> php <br> angular <br> banco de dados relacional

</div>
<br>
<div>
    mais <br> social ads <br> SEO <br>
</div>
usar paralax ussar o menu que muda de cor usar as cores do outr curiculo