<!-- Skills-->
<style>
    .cont-jquery {
        width: 150px;
    }
    
    .cont-jquery img {
        width: 100%;
    }
    
    .cont-ajax {
        width: 100px;
    }
    
    .cont-ajax img {
        width: 100%;
    }
</style>
<section class="resume-section">
    <div class="resume-section-content">
        <h2 class="mb-5">Habilidades</h2>
        <div class="subheading mb-3">Linguagens e ferramentas de programação</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="cont-ajax list-inline-item">
                <img src="imagens/ajax.jpg" alt="">
            </li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <!--

                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
            -->

            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="cont-jquery list-inline-item">
                <img src="imagens/JQuery_logo-512.png" alt="">


            </li>
            <li class="list-inline-item">
                <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-bootstrap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
              </svg></li>
            <li class="list-inline-item">MVC</li>
            <li class="list-inline-item">.Net</li>

            <!--

                <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            -->
            <!--jquary ajax bootstrap-->
        </ul>
        <div class="subheading mb-3">FLUXO DE TRABALHO</div>


        <ul class=" mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>30 horas de sono por semana. </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Não dormir enquanto o código não está pronto. </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Vivencia com integração com backend</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Asp.Net core mvc </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Visual Studio 2019 </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Github for desktop </li>
        </ul>

    </div>
</section>


<!-- <div><h1>FLUXO DE TRABALHO </h1></div><div>30 horas de sono por semana. <br>Não dormir enquanto o código não está pronto. <br>Vivencia com integração com bakc end <br>Asp.Net core mvc Visual Studio 2019 <br>Git - github for descktop </div><br><div>html 5 <br>css 3 <br>bootstrap <br>JavaScript <br>jQuery <br>Ajax <br>asp.Net mvc5 <br>wordpress </div><br><div>conhecimentos basicos <br>c# <br>php <br>angular <br>banco de dados relacional </div><br><div>mais <br>social ads <br>SEO <br></div>usar paralax ussar o menu que muda de cor usar as cores do outr curiculo -->