<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Meus trabalhos</h2>
        <ul class=" mb-0">
            <li>
                <a target=”_blank” href="https://startegi.com.br/">Site Startegi</a><br>
            </li>
            <li>
                <a target=”_blank” href="https://portoflexconexoes.com/#/">Site Porto flex</a>
            </li>


            <li>
                <a target=”_blank” href="http://novo.armazemdoescritorio.com.br/categoria/cadeiras"> Armazem do escritório //Em desenvolvimento</a>

            </li>
            <!--

                <li>
                    <a href="">Flor de oliva e-coomese </a>
                    
                </li>
            -->
            <h4>Site Traduzido com globalização e localização do asp.net core </h2>
                <li>
                    <a target=”_blank” href="https://yellowling.com.br/">Site YelloLing</a><br>
                </li>
                <h4>Sistemas Asp.net</h2>
                    <li>
                        <a target=”_blank” href="https://onboard.yellowling.com.br/">YelloLing cadastro cliente</a>
                    </li>
                    <li>
                        <a target=”_blank” href="https://onboard.yellowling.com.br/orcamento/orcamentoexterno">YelloLing Orçamento online</a>
                    </li>
                    <li>
                        <a target=”_blank” href="https://onboard.yellowling.com.br/processoseletivo/cadastrar">YelloLing Cadastro de tradutor</a>
                    </li>
        </ul>



    </div>
</section>