<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Meus trabalhos</h2>
        <ul class=" mb-0">
            <li>
                <a target=”_blank” href="https://startegi.com.br/"> startegi</a><br>
            </li>
            <li>
                <a target=”_blank” href="https://yellowlingbeta.azurewebsites.net/"> YelloLing</a><br>
            </li>
            <li>
                <a target=”_blank” href="https://portoflexconexoes.com/#/">Porto flex</a>
            </li>
            <li>
                <a target=”_blank” href="http://novo.armazemdoescritorio.com.br/categoria/cadeiras"> Armazem do escritorio //Em desenvolvimento</a>

            </li>
            <li>
                <a href="">Flor de oliva e-coomese </a>

            </li>

            <li>
                <a href=""> grift</a>
            </li>
        </ul>



    </div>
</section>
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Ui</h2>
        <video style="width: 90%; margin: auto;" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source styl="" src="/imagens/Google Chrome -  Informações importantes para programação.docx - Documentos Google - Google Chrome.mp4" type="video/mp4">
                
</video>



    </div>
</section>
</div>