<p>Progetos pessoais</p>


<a target="blank" href="https://github.com/Carlos-Alexandre-Leutz">GitHub</a>
<div>
    meu frammework de css para posição e tamaho

</div>
<div>
    plugin para evento de saida do usauario da pagina
</div>
<div>
    biblioteca para localização de site no asp.net cor mvc5
</div>

<div>
    loop paraenvio de arquivo com ajax
</div>

<div>
    modelo de SPA com Angular
</div>
<div>
    envio de formulario para email com php
</div>

<div>
    indentificando o browser e corigindo errs de layout (safari)
</div>

<div>
    menu respunsivo com jquery
</div>