<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Meus Projetos open source</h2>
        <ul class=" mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Globalização e localização no ASP.NET Core
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/loopParaEnviarVariosArquivosParalelamente/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> Loop de envio de JavaScrpt
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/loader-que-trava-a-pagina/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Loop para cageregamento de arquivos
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/btn-arquivo-preview/index.html">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Armasenando arquivos e mostrando em modal
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/checkbox-com-sass/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>label for checkbox/ sass
                </a>
            </li>
            <!--
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Frameworks css
                </li>
            -->

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Modelo de SPA com Angular
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Modelo de SPA com javascript puro(Ajax e fetch)
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/Indentificando-o-browser/testbrowser.html">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Indentificandor de browser /corigindo erros de layout (safari)
                </a>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Lib intenção de saida
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Serviço de e-mail php
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Barra de aviso de cookies para sites, que salva a opção escolhida.
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> Veja mais no meu <a target="blank" href="https://github.com/Carlos-Alexandre-Leutz">GitHub</a>
            </li>

        </ul>


    </div>
</section>