<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Meus Projetos open source</h2>
        <ul class=" mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Globalização e localização no ASP.NET Core
            </li>

            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/loader-que-trava-a-pagina/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Loop para cageregamento de arquivos
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/btn-arquivo-preview/index.html">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Armasenando arquivos e mostrando em modal
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/checkbox-com-sass/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>label for checkbox/ sass
                </a>
            </li>
            <!--
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Frameworks css
                </li>
            -->

            <li>
                <a target="blank" href="https://github.com/Carlos-Alexandre-Leutz/EstruturaParaBlogComAngular">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Modelo de SPA com Angular//Blog
                </a>
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Modelo de SPA com javascript puro(Ajax e fetch)
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/Indentificando-o-browser/testbrowser.html">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Indentificandor de browser /corigindo erros de layout (safari)
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/existEntent/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Alerta na Intenção de saida
                </a>
            </li>
            <li>
                <a target="blanck" href="https://github.com/Carlos-Alexandre-Leutz/envio-de-form-email-php">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Formulario de contato de e-mail php
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/avisoDeUsoDeCookies/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Barra de aviso de cookies para sites, que salva cookies se for aceito.
                </a>
            </li>
            <li>
                <a target="blank" href="https://carlos-alexandre-leutz.github.io/Contador-de-fim-de-Promo-o-infinito/">
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Promoção infinita usando datas com js
                </a>
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> Veja mais no meu <a target="blank" href="https://github.com/Carlos-Alexandre-Leutz">GitHub</a>
            </li>

        </ul>


    </div>
</section>