<form action="script.php" method="post">



    <div class="form-group">
        <label class="FonteTexto" for="form-control">mensagem</label>
        <input type="text" class="form-control" name="mensagem">
    </div>


    <input class="botaoDonload2" type="submit" name="enviar" value="Enviar">

</form>

<!-- esperar 10segundos antes de edirecionar de novo para o meu curiculo e diser obrigado po entrar en contato-->

<a target="blank" href="malito:leutzelutz@gmail.com"> leutzeleutz@gmail.com</a>
<div>(47)99933-34855</div>
<!-- colocar uma img de wthas para redirecionar para o wthas com link de msg-->
<div>
    <a target="blank" href="https://www.linkedin.com/in/carlos-leutz-1b1516185/">Linkkedin</a>
</div>
<div>
    <a target="blank" href="https://www.instagram.com/carlosalexandreleutz/?hl=pt-br">Instagram</a>
</div>
<div>
    <a target="blank" href="https://github.com/Carlos-Alexandre-Leutz">GitHub</a>
</div>