<style>
    ul li {
        text-decoration: none;
        color: #333 !important;
    }
    
    ul li :hover {
        text-decoration: none;
        color: #333;
    }
</style>
<!-- Awards-->
<section class="resume-section" style="z-index: 1;" id="awards">

    <ul class="resume-section-content">
        <h2 class="mb-5">Minhas Redes sociais</h2>

        <ul class="list-inline dev-icons ">
            <li class="list-inline-item">
                <a target="blank" href="https://www.facebook.com/profile.php?id=100008801702961">

                    <i class="fab fa-facebook"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a target="blank" href="https://www.instagram.com/carlosalexandreleutz/?hl=pt-br">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="blank" href="https://www.linkedin.com/in/carlos-alexandre-leutz-1b1516185/"><i class="fab fa-linkedin-in"></i></a>
            </li>

            <li class="list-inline-item">
                <a target="blank" href="https://github.com/Carlos-Alexandre-Leutz">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="blank" href="https://www.youtube.com/channel/UCd4MhWhSeqK1Ga4OKOPSxSw?view_as=subscriber">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>

            <br>
            <li class="list-inline-item">
                <a target="blank" href="malito:leutzelutz@gmail.com"> <i class="fas fa-envelope-open"></i><span style="font-size: 15px !important; font-weight: 500;">Leutzeleutz@gmail.com</span></a>
            </li>
            <br>
            <li class="list-inline-item"> <i class="fas fa-phone"></i><span style="font-size: 15px !important; font-weight: 500;">(47)99933-3485</span></li>

        </ul>

</section>