<!-- Skills-->
<p>{{title}}</p>
<section class="resume-section">
    <div class="resume-section-content">
        <h2 class="mb-5">Habilidades</h2>
        <div class="subheading mb-3">Linguagens e ferramentas de programação</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-less"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
            <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            <!--jquary ajax bootstrap-->
        </ul>
        <div class="subheading mb-3">FLUXO DE TRABALHO</div>


        <ul class=" mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>30 horas de sono por semana. </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Não dormir enquanto o código não está pronto. </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Vivencia com integração com bakc end </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Asp.Net core mvc </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Visual Studio 2019 </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Git - github for descktop </li>
        </ul>

    </div>
</section>

<script>
    function teste() {
        console.log('teste')

    }
    teste();
</script>
<!-- <div><h1>FLUXO DE TRABALHO </h1></div><div>30 horas de sono por semana. <br>Não dormir enquanto o código não está pronto. <br>Vivencia com integração com bakc end <br>Asp.Net core mvc Visual Studio 2019 <br>Git - github for descktop </div><br><div>html 5 <br>css 3 <br>bootstrap <br>JavaScript <br>jQuery <br>Ajax <br>asp.Net mvc5 <br>wordpress </div><br><div>conhecimentos basicos <br>c# <br>php <br>angular <br>banco de dados relacional </div><br><div>mais <br>social ads <br>SEO <br></div>usar paralax ussar o menu que muda de cor usar as cores do outr curiculo -->