<!-- Awards-->
<p>{{title}}</p>
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Técnologias usadas na criação desse curiculo</h2>
        <ul class=" mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>Globalização e localização no ASP.NET Core
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> Loop de envio de JavaScrpt
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>frameworks css
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> 1
                <sup>st</sup> Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> 2
                <sup>nd</sup> Place - University of Colorado Boulder - Emerging Tech Competition 2008
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> 1
                <sup>st</sup> Place - James Buchanan High School - Hackathon 2006
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span> 3
                <sup>rd</sup> Place - James Buchanan High School - Hackathon 2005
            </li>
        </ul>



    </div>
</section>

<p>veja mais alguns projetos menores no meu canal no youtube </p>
</div>



<div>Angular: Single page application</div>
<div>Html 5</div>
<div>css 3</div>
<div>Bootstarp</div>
<div>Javascrit</div>
<div>Jquery</div>
<div>Php</div>
<div>Ficou curioso veja o codigo no guithub não esquesa de avaliar estrela aqui
</div>